{% load static %} <!-- Importar archivos estáticos -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Agregar Producto</title>
</head>
<body>
    <section class="container_agregar">
        <h1>FERROVIAL</h1>
        <header>Agregar Producto</header><br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            
        </form><br>
        <a class="btn btn-primary" href="{% url 'lista_productos' %}" role="button">Volver</a>
    </section>
        
</body>
</html>
