{% load static %} <!-- Importar archivos estáticos -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Editar Producto</title>
</head>
<body>
    <section class="container_editar">
    <h1>Editar Producto</h1>
    <form method="Post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form><br>
    <a class="btn btn-primary" href="{% url 'lista_productos' %}" role="button">Volver a la lista</a>
    </section>
</body>
</html>
