{% load static %}<!-- Importar archivos estáticos -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Lista de Productos</title>
    
</head>
<body>
    <section class="container_lista_productos">
        <h1>Productos en Bodega</h1>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Acciones</th> <!-- Se agrega el encabezado para la columna de acciones -->
                </tr>
            </thead>
            <tbody>
                {% if productos %}
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'editar_producto' producto.pk %}" role="button">Editar</a>
                                <a class="btn btn-primary" href="{% url 'eliminar_producto' producto.pk %}" role="button">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No hay productos disponibles</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'agregar_producto' %}" role="button">Agregar Nuevo Producto</a>
        <a class="btn btn-primary" href="{% url 'agregar_producto' %}" role="button">Buscar Producto</a>
    </section>
    
</body>
</html>
