{% load static %}<!-- Importar archivos estáticos -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Lista de Productos</title>
    
</head>
<body>
    <section class="container_lista_productos">
        <h1>Productos en Bodega</h1>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} = {{ producto.cantidad }} <br><br>
                <a href="{% url 'editar_producto' producto.pk %}">Editar</a> | 
                <a href="{% url 'eliminar_producto' producto.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_producto' %}">Agregar Nuevo Producto</a>
    </section>
    
</body>
</html>
